* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Trebuchet MS", sans-serif;
}

.fullwidth {
  width: 100%;
}
.fullheight {
  height: 100%;
}
.padding10 {
  padding: 10px;
}
.colorwhite {
  color: white;
}
.text-align-center{
  text-align: center;
}

@font-face {
  font-family: icomoon;
  src: url(../src/icomoon.ttf);
}

.header {
  background-color: #000;
  display: flex;
  flex-basis: 50%;
  padding: 10px;
}

.logo-section {
  flex-basis: 50%;
}
.logo:after {
  display: block;
  font-size: 60px;
  line-height: 50px;
}
.logo:after {
  font-family: icomoon;
  content: '\e604';
  font-weight: 100;
}

.search-section {
  align-items: center;
  display: flex;
  flex-basis: 50%;
  justify-content: flex-end;
  padding-right: 10px;
}

.main-body {
  display: flex;
  min-height: 520px;
}

.left-panel-container {
  background-color: #000;
  flex-basis: 250px;
}
.left-panel-container .logo-section {
  margin-bottom: 1px;
}
.parent-employee-section {
  cursor: pointer;
  position: relative;
  margin-bottom: 15px;
  margin-top: 18px;
  text-align: center;
}
.parent-employee-section span {
  border-bottom: 1px solid #fff
}
.arrow-down {
  border-right: 2px solid #fff;
  border-top: 2px solid #fff;
  display: block;
  height: 10px;
  margin: 0 auto;
  transform: rotate(135deg);
  width: 10px;
}
.marginadjusted{
  margin-top: -4px;
}
.empDetailsContainer {
  margin-top: 20px;
  text-align: center;
}
.left-panel-container .img-section img {
  border: 5px solid #fff;
}

.right-panel-container {
  
}

.reportee-container {
  display: flex;
  padding: 20px;
}
.reportee-title {
  margin: 25px;
  font-weight: normal;
}
.reportee-title span {
  font-weight: bold;
}
.reportee-item {
  margin-right: 20px;
  max-width: 250px;
  text-align: center;
}
.reportee-item:hover {
  cursor: pointer;
}
.img-section img {
  border-radius: 50%;
  border: 5px solid #000;
}

.footer {
  background-color: #000;
  bottom: 0;
  font-size: 10px;
  padding: 10px;
  position: fixed;
  text-align: center;
  width: 100%;
}

.logo-watermark {
  display: none;
}

@media only screen and (min-width: 1200px){
  .logo-watermark {
    display: block;
  }
  .logo-watermark .logo {
    position: absolute;
    bottom: 95px;
    color: #9e9e9e;
    right: -32px;
    transform: rotate(-90deg);
  }
  .logo-watermark .logo:after {
    font-size: 120px;
  }
}
